.jkUpload {
  padding: 10px;
}

.jkCanvas {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  canvas {
    position: absolute;
    top: 0;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}