.jkUpload {
  padding: 10px;
}

.jkCanvas {
  margin-bottom: 50px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  canvas {
    margin: 0 auto;

    background: #000;
  }
}